<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514004052841-nmof3gcaklv3hu91cthb2inte4magb9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514004052841-nmof3gcaklv3hu91cthb2inte4magb9m</string>
	<key>API_KEY</key>
	<string>AIzaSyASkgvP6LR-5KXt-YwlaIp_K6hSvN4ABfg</string>
	<key>GCM_SENDER_ID</key>
	<string>514004052841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dino.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ec873</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ec873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514004052841:ios:191ae78904b87357392bf8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-ec873.firebaseio.com</string>
</dict>
</plist>